@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

.max-h-75 {
  max-width: 75%;
  border-color: red;
}

.font-scale {
  font-size: clamp(69px, 10vw, 100px);
  font-weight: bold;
}

.bit {
  font-family: var(--bit-font);
}

.inter {
  font-family: var(--font-inter);
}

.bold {
  font-family: var(--bold-font);
}

.jacq {
  font-family: var(--jacq-font);
}

.script {
  font-family: var(--script-font);
}

.serif {
  font-family: var(--serif-font);
}

.backdrop {
  background: #000000b9;
}